.popup__input {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
}
.popup__input:first-of-type {
  margin-bottom: 30px;
}
