.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: opacity 0.3s ease 0.1s;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media (max-width: 500px) {
  .profile__add-button {
    width: 282px;
  }
}
